{% macro form(title, modal_id, form_id, form, action, method='POST') -%}
<!-- Main modal -->
<div id="{{modal_id}}" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-auto overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                data-modal-hide="{{modal_id}}">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">{{title}}</h3>
                <form id={{form_id}} class="space-y-6" action="{{url_for(action)}}" method="{{method}}">
                    {{form.hidden_tag() }}
                    {% for field in form %}
                    {% set name = "{{ field.name }}" %}
                    {% set field_class = """bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                        dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white""" %}
                    {% set label_class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %}
                    {% set button_class = """w-full text-white bg-blue-700 hover:bg-blue-800
                    focus:ring-4 focus:outline-none
                    focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800""" %}
                    <div class="mb-4">
                        {% if field.type == 'SubmitField' %}
                            {{field(class_=button_class)}}
                        {% elif field.type != 'CSRFTokenField' %}
                            {{field.label(class_=label_class)}}
                            {{field(class_=field_class)}}
                        {% endif %}
                        <ul class="text-red-700 text-sm" id="errors-{{field.name}}" name="errors">
                            {% for error in field.errors %}
                            <li> {{error}} <li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}