{% extends 'teacher/base.html' %}

{% block app_content %}
<div class="row">
        <div><h2>All Examinations</h2></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Examination</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Date Added</th>
                </tr>
            </thead>
            <tbody>
            {% for  examination in examinations  %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{url_for('teacher.examination.one', id=examination.id )}}">{{ examination.name }}</button></td>
                    <td>{{ examination.start_date }}</td>
                    <td>{{ examination.end_date }}</td>
                    <td>{{ examination.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}