{% extends 'teacher/base.html' %}

{% block app_content %}
    <div class="row">
            <h2>{{ examination.name }}</h2>
            {% for subject in examination.subjects %}
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class='col-md-1'>{{loop.index}}</div>
                        <div class='col-md-2'>{{ subject.name }}</div>
                        <div class='col-md-2'>
                            <a href="{{ url_for('examination_question', exam_id=examination.id) }}?subject={{subject.id}}">
                                <button class="btn btn-primary">
                                Questions <span class="badge"> {{ subject.exam_question(examination.id)[0].questions_dict|length }}</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock app_content %}