{% extends 'teacher/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="question_paper">
    <h2>Examination: {{ question_paper.examination.name }} </h2>
    <p><b>Subject: {{ question_paper.subject.name }} </b></p>
    <p><b>Total Questions: {{ question_paper.total_questions }} </b></p>
    <p>Start: {{ question_paper.start_date }} </p>
    <p>End: {{ question_paper.end_date }} </p>
    <hr>
    {# <p> There are no questions here yet. Add some questions </p> #}

    <!-- Start Model -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#smallShoes">
        Add or Edit Question
    </button>

    <!-- The modal -->
    <div class="modal fade" id="smallShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
    
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabelSmall">New Question</h4>
                </div>
    
                <div class="modal-body">
                    <div class="row" style="padding: 5%;">
                        {{ wtf.quick_form(question_form) }}
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <hr>
    <div class="row">
        {% if question_paper.questions %}
            {% for num, question in question_paper.questions_dict.items()|sort %}
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-title">{{num}}.) {{question.get('question') }}
                    <a href="{{ url_for('examination_question', exam_id=question_paper.examination_id,
                    subject=question_paper.subject_id, edit_num=num) }}">
                    <button class="btn btn-primary">Edit</button>
                    </a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        <p>Options</p>
                            {% for option in question.get('options') %}
                            {# <div class='col-md-2'> #}
                                {{loop.index}}.) {{option}}<br>
                            {# </div> #}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {# {% else %} #}

        {# <div class="col-md-4">
            {{ wtf.quick_form(question_paper_form) }}
        </div> #}
        {% endif %}
    </div>
</div>
{% endblock app_content %}