{% extends 'teacher/base.html' %}

<!-- Breadcrumb -->
{% block breadcrumb_item %}
{{super()}}
{% import 'components/breadcrumb.html' as crumb %}
{{crumb.item('Subject', '', 'page')}}
{% endblock %}

{% block app_content %}
<div class="flex justify-between">
    <h5 class=" mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">
        All Subjects
    </h5>
    <div class="relative overflow-x-auto sm:rounded-lg">
        <button id="add-new-subject-btn" data-modal-target="add-subject-modal" data-modal-toggle="add-subject-modal"
            type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
                        focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
                            dark:focus:ring-[#2557D6]/50 mr-2 mb-2">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                class="w-10 h-6 mr-2 -ml-1"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25">
                </path>
            </svg>
            Add New Subject
        </button>
    </div>

</div>
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                S/N
            </th>
            <th scope="col" class="px-6 py-3">
                Subject
            </th>
            <th scope="col" class="px-6 py-3">
                Teacher
            </th>
            <th scope="col" class="px-6 py-3">
                Examination
            </th>
            <th scope="col" class="px-6 py-3">
                Date Added
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ loop.index }}
            </th>
            <td class="px-6 py-4">
                <a class="text-blue-700">{{
                    subject.name }}</a>
            </td>
            <td class="px-6 py-4">
                <a class="text-blue-700">{{
                    subject.teacher.name }}</a>
            </td>
            <td class="px-6 py-4">
                <a class="text-blue-700">{{
                    subject.examinations|length }}</a>
            </td>
            <td class="px-6 py-4">
                {{ subject.created_at }}
            </td>
            <td class="px-6 py-4">
                <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
        </tr>
        {% else %}
        <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                You are yet to add any Subject. Click 'Add New Subject' to add subjects
            </p>
        </div>
        {% endfor %}
    </tbody>
</table>
{% include 'teacher/subject/new.html' %}
{% endblock %}
{% block javascript %}
{{ super() }}
<script type="module" src="{{url_for('static',filename='js/services.js')}}"></script>
<script type="module" src="{{url_for('static',filename='js/form_actions.js')}}"></script>
{% endblock javascript %}